<tr id="user-{{ user.id }}">
    {% if vue == 'user' %}<td>{{ user.id }}</td>{% endif %}
    <td class="user-username">{{ user.username }}</td>
        <td class="user-profil">{{ user.profil.first is empty ? 'Aucun' : user.profil[0] }}</td>
    <td class="user-email">{{ user.email }}</td>
    {% if vue == 'user' %}<td>{{ user.createdAt|date('d/m/Y') }}</td>{% endif %}
    <td>
        <a href="{{ path('users.edit', {id: user.id}) }}" title="Editer" class="btn btn-light"><i class="far fa-edit"></i></a>
        {% if not user.enabled %}
            <a href="{{ path('users.enable', {id: user.id}) }}" title="Activer" class="btn btn-secondary"><i class="fas fa-toggle-on"></i></a>
        {% endif %}
        <a href="{{ path('users.delete', {id: user.id}) }}" title="Supprimer" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
    </td>
</tr>